.stat-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
  transition: .3s;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ff385c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.stat-card h4 {
  color: gray;
  margin-bottom: 8px;
}

.stat-card h2 {
  margin: 0;
}